#!{{ os_shell }}

## variable provided by tinc
#NETNAME=
#NAME=
#DEVICE=
#INTERFACE=
#NODE=
#REMOTEADDRESS=
#REMOTEPORT=
#SUBNET=
#WEIGHT=

## our config variables
VPN_IPADDR="{{ tinc_ip }}"
VPN_HOSTNAME="{{ tinc_hostname }}"
