#!{{ os_shell }}

## variables provided by tincd
#NETNAME=
#NAME=
#DEVICE=
#INTERFACE=
#NODE=
#REMOTEADDRESS=
#REMOTEPORT=
#SUBNET=
#WEIGHT=

## our config variables
VPN_IPADDR="{{ tinc_ip }}"
VPN_HOSTNAME="{{ tinc_hostname }}"
export VPN_IPADDR VPN_HOSTNAME

## our neighs
{% for host in groups[netname] %}
VPN_IPADDR_{{ host | to_tinc_host }}={{ hostvars[host]['tinc_ip'] }}
export VPN_IPADDR_{{ host | to_tinc_host }}
{% endfor %}

## current neigh
VPN_IPADDR_NODE=`eval echo "\\$VPN_IPADDR_$NODE"`
export VPN_IPADDR_NODE
