## {{ tinc_host }}
# {{ ansible_managed }}
Port = 23001
Compression = 10
IndirectData = {{ tinc_indirect }}

{% if tinc_remote is defined %}
Address = {{ tinc_remote }}
{% elif ansible_host != "" %}
Address = {{ ansible_host }}
{% endif %}

{% if tinc_subnet is defined %}
{% if tinc_subnet is iterable %}
{% for subnet in tinc_subnet %}
Subnet = {{ subnet }}
{% endfor %}
{% else %}
Subnet = {{ tinc_subnet }}
{% endif %}
{% else %}
Subnet = {{ tinc_ip }}/32
{% endif %}
