## {{ tinc_host }}
# {{ ansible_managed }}
Port = {{ tinc_port }}
{% if tinc_compression != "" %}
Compression = {{ tinc_compression }}
{% endif %}
IndirectData = {{ tinc_indirect }}

{% if tinc_remote is defined %}
Address = {{ tinc_remote }}
{% elif ansible_host != "" %}
Address = {{ ansible_host }}
{% endif -%}

{% if tinc_subnet is defined %}
{% if tinc_subnet is not string and tinc_subnet is iterable %}
{% for subnet in tinc_subnet %}
Subnet = {{ subnet }}
{% endfor %}
{% else %}
Subnet = {{ tinc_subnet }}
{% endif %}
{% else %}
Subnet = {{ tinc_ip }}/32
{% endif %}

