## {{ tinc_host }}
#
# {{ ansible_managed }}

Port = {{ hostvars[inventory_hostname]['tinc_port'] | default(tinc_port) }}
{% if hostvars[inventory_hostname]['tinc_compression'] is defined or tinc_compression != "" %}
Compression = {{ hostvars[inventory_hostname]['tinc_compression'] | default(tinc_compression) }}
{% endif %}
IndirectData = {{ hostvars[inventory_hostname]['tinc_indirect'] | default(tinc_indirect) }}

{% if tinc_remote is defined %}
Address = {{ tinc_remote }}
{% elif ansible_host != "" %}
Address = {{ ansible_host }}
{% endif %}

# auto-propagated subnets
{% if tinc_subnet is defined %}
{% if tinc_subnet is not string and tinc_subnet is iterable %}
{% for subnet in tinc_subnet %}
Subnet = {{ subnet }}
{% endfor %}
{% else %}
Subnet = {{ tinc_subnet }}
{% endif %}
{% else %}
Subnet = {{ tinc_ip }}/32
{% endif %}

{% if tinc_subnet_hidden is defined %}
# hidden subnets
{% if tinc_subnet_hidden is not string and tinc_subnet_hidden is iterable %}
{% for subnet in tinc_subnet_hidden %}
Subnet = {{ subnet }}
{% endfor %}
{% else %}
Subnet = {{ tinc_subnet_hidden }}
{% endif %}
{% endif %}

