#### BEGIN tinc/{{ netname }} hosts ####
## {{ ansible_managed }}

{% for host in groups['all'] %}
{% if hostvars[host]['tinc_hostname'] is defined %}
{{ hostvars[host]['tinc_ip'] }} {{ hostvars[host]['tinc_hostname'] }}
{% endif %}
{% endfor %}

##
#### END tinc/{{ netname }} hosts ####
