#!{{ os_shell }}
#
# {{ ansible_managed }}

# start user handler scripts
#	/etc/tinc/<handler>.<vpn_name>
#	/etc/tinc/<handler>
# stop processing if script returns 99
SN='subnet-down'
DN=`dirname "$0"`
DN=`dirname "$DN"`
[ -x $DN/$SN.{{ vpn_name }} ] && $DN/$SN.{{ vpn_name }} "$@"
[ "$?" = "99" ] && exit 0
[ -x $DN/$SN ] && $DN/$SN "$@"
[ "$?" = "99" ] && exit 0

# log
logger -t "tinc.{{ vpn_name }}" "subnet $SUBNET down"

# remove selective route
ip route del "$SUBNET" via "{{ tinc_ip }}" dev "$INTERFACE"

exit 0
