#!{{ os_shell }}
#
# {{ ansible_managed }}

# start user handler scripts
#	/etc/tinc/<handler>.<netname>
#	/etc/tinc/<handler>
# stop processing if script returns 99
SN='subnet-down'
DN=`dirname "$0"`
. "$DN/common.sh"
DN=`dirname "$DN"`
[ -x $DN/$SN.{{ netname }} ] && $DN/$SN.{{ netname }} "$@"
[ "$?" = "99" ] && exit 0
[ -x $DN/$SN ] && $DN/$SN "$@"
[ "$?" = "99" ] && exit 0

# log
[ "${SUBNET%.*}" != "$SUBNET" ] && logger -t "tinc.{{ netname }}" "subnet $SUBNET down"

# remove selective route
if [ -n "$VPN_IPADDR_NODE" ] && [ "${SUBNET%.*}" != "$SUBNET" ]
then
	ip route del "$SUBNET" via "$VPN_IPADDR_NODE" dev "$INTERFACE"
fi

exit 0
