##
# {{ ansible_managed }}

Name = {{ tinc_host }}
BindToAddress = * 23001

#Device = /dev/net/tun
DeviceType = tap
AddressFamily = ipv4
#Interface = tun0
Mode = switch

DirectOnly = no
Broadcast = mst
DecrementTTL = no
LocalDiscovery = yes

{% for host in groups['all'] %}
{% if (hostvars[host]['tinc_type'] | default('client')) == 'gw' %}
{% if tinc_hostname != hostvars[host]['tinc_hostname'] %}
ConnectTo = {{ hostvars[host]['tinc_hostname'] | replace(".", "_") }}
{% endif %}
{% endif %}
{% endfor %}
