#!{{ os_shell }}
#
# {{ ansible_managed }}

# start user handler scripts
#	/etc/tinc/<handler>.<netname>
#	/etc/tinc/<handler>
# stop processing if script returns 99
SN='tinc-up'
DN=`dirname "$0"`
. "$DN/common.sh"
DN=`dirname "$DN"`
[ -x $DN/$SN.{{ netname }} ] && $DN/$SN.{{ netname }} "$@"
[ "$?" = "99" ] && exit 0
[ -x $DN/$SN ] && $DN/$SN "$@"
[ "$?" = "99" ] && exit 0

ifconfig "$INTERFACE" {{ tinc_ip }} netmask 255.255.255.0

{% if tinc_subnet is defined and tinc_subnet is iterable %}
# disable rp filter if serving multiple subnets
echo 0 > /proc/sys/net/ipv4/conf/$INTERFACE/rp_filter

{% endif %}

# append hosts as needed
#if [ -f /etc/tinc/{{ netname }}/hosts.snip ] \
#	&& -w /etc/hosts \
#	&& ! grep "### BEGIN tinc/{{ netname }} hosts ###" /etc/hosts >/dev/null;
#then
#	cp -f /etc/hosts /etc/hosts.tinc-{{ netname }};
#	echo >> /etc/hosts;
#	cat /etc/tinc/{{ netname }}/hosts.snip >> /etc/hosts;
#	echo >> /etc/hosts;
#fi;

exit 0
